body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../images/ocean.jpg');
	background-size: 100% 100%;
  background-repeat: no-repeat;
}

.banner {
	width: 104px;
	height: 107px;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

#btm-left {
	float: left;
	width: 0; 
	height: 0; 
	margin-top: 16px;
	border-bottom: 16px solid transparent;
	border-left: 54px solid rgba(0, 0, 0, 0.4);
}

#btm-right {
	position: relative;
	top: -15px;
	left: -7px;
	float: left;
	width: 0; 
	height: 0; 
	margin-left: 57px;
	border-bottom: 16px solid transparent;
	border-right: 54px solid rgba(0, 0, 0, 0.4);
}


.header-badge {
	float: left;
	background: #03A9F4;
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-top: 11px;
	margin-left: 11px;
}

.header-badge img {
	height: 30px;
	width: 30px;
	margin-top: 11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-badge hr {
	border-color: black;
	text-decoration: none;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30px;
}

.header-badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

ul {
  list-style-type: none;
}

#jelly1 img {
	height: 60px;
	width: 60px;
	position: relative;
	top: 50px;
	left: 400px;
	opacity: 0.5;
  -webkit-animation: jelly-one 15s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-one 15s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-one 15s linear infinite; /* Opera 12+ */
  animation:         jelly-one 15s linear infinite; /* IE 10+, Fx 29+ */
}

#jelly2 img {
	height: 65px;
	width: 65px;
	position: relative;
	top: 0px;
	left: 100px;
	opacity: 0.5;
  -webkit-animation: jelly-one 12s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-one 12s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-one 12s linear infinite; /* Opera 12+ */
  animation:         jelly-one 12s linear infinite; /* IE 10+, Fx 29+ */

}

#jelly3 img {
	height: 75px;
	width: 75px;
	position: relative;
	top: 200px;
	left: 765px;
	opacity: 0.5;
  -webkit-animation: jelly-two 12s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-two 12s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-two 12s linear infinite; /* Opera 12+ */
  animation:         jelly-two 12s linear infinite; /* IE 10+, Fx 29+ */
}

#jelly4 img {
	height: 90px;
	width: 90px;
	position: relative;
	top: 36px;
	left: 398px;
	opacity: 0.5;
  -webkit-animation: jelly-two 15s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-two 15s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-two 15s linear infinite; /* Opera 12+ */
  animation:         jelly-two 15s linear infinite; /* IE 10+, Fx 29+ */
}

#jelly5 img {
	height: 115px;
	width: 115px;
	position: relative;
	top: 187px;
	left: 212px;
	opacity: 0.5;
  -webkit-animation: jelly-three 20s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-three 20s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-three 20s linear infinite; /* Opera 12+ */
  animation:         jelly-three 20s linear infinite; /* IE 10+, Fx 29+ */
}

#jelly6 img {
	height: 120px;
	width: 120px;
	position: relative;
	top: 160px;
	left: 350px;
	opacity: 0.5;
	-webkit-animation: jelly-three 25s linear infinite; /* Safari 4+ */
  -moz-animation:    jelly-three 25s linear infinite; /* Fx 5+ */
  -o-animation:      jelly-three 25s linear infinite; /* Opera 12+ */
  animation:         jelly-three 25s linear infinite; /* IE 10+, Fx 29+ */
}

/*Animation*/
@-webkit-keyframes jelly-one {
    from { -webkit-transform: rotate(5deg) translateX(10px) rotate(5deg); }
    to   { -webkit-transform: rotate(365deg) translateX(10px) rotate(-355deg); }
}
@-moz-keyframes jelly-one {
    from { -webkit-transform: rotate(5deg) translateX(10px) rotate(5deg); }
    to   { -webkit-transform: rotate(365deg) translateX(10px) rotate(-355deg); }
}
@-o-keyframes jelly-one {
    from { -webkit-transform: rotate(5deg) translateX(10px) rotate(5deg); }
    to   { -webkit-transform: rotate(365deg) translateX(10px) rotate(-355deg); }
}
@keyframes jelly-one {
    from { transform: rotate(5deg) translateX(10px) rotate(5deg); }
    to   { transform: rotate(365deg) translateX(10px) rotate(-355deg); }
}

@-webkit-keyframes jelly-two {
    from { -webkit-transform: rotate(10deg) translateX(15px) rotate(10deg); }
    to   { -webkit-transform: rotate(370deg) translateX(15px) rotate(-350deg); }
}
@-moz-keyframes jelly-two {
    from { -webkit-transform: rotate(10deg) translateX(15px) rotate(10deg); }
    to   { -webkit-transform: rotate(370deg) translateX(15px) rotate(-350deg); }
}
@-o-keyframes jelly-two {
    from { -webkit-transform: rotate(10deg) translateX(15px) rotate(10deg); }
    to   { -webkit-transform: rotate(370deg) translateX(15px) rotate(-350deg); }
}
@keyframes jelly-two {
    from { transform: rotate(10deg) translateX(15px) rotate(10deg); }
    to   { transform: rotate(370deg) translateX(15px) rotate(-350deg); }
}

@-webkit-keyframes jelly-three {
    from { -webkit-transform: rotate(12deg) translateX(15px) rotate(12deg); }
    to   { -webkit-transform: rotate(372deg) translateX(15px) rotate(-348deg); }
}
@-moz-keyframes jelly-three {
    from { -webkit-transform: rotate(12deg) translateX(15px) rotate(12deg); }
    to   { -webkit-transform: rotate(372deg) translateX(15px) rotate(-348deg); }
}
@-o-keyframes jelly-three {
    from { -webkit-transform: rotate(12deg) translateX(15px) rotate(12deg); }
    to   { -webkit-transform: rotate(372deg) translateX(15px) rotate(-348deg); }
}
@keyframes jelly-three {
    from { transform: rotate(12deg) translateX(15px) rotate(12deg); }
    to   { transform: rotate(372deg) translateX(15px) rotate(-348deg); }
}





.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
