.header-badge {
	float: left;
	background: #03A9F4;
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-top: 11px;
	margin-left: 11px;
}

.header-badge img {
	height: 30px;
	width: 30px;
	margin-top: 11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30px;
}

.header-badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

ul {
  list-style-type: none;
}

#jelly1 img {
	height: 100px;
	width: 100px;
	position: relative;
	top: 500;
	left: 150px;
}

#jelly2 img {
	height: 150px;
	width: 150px;
	position: relative;
	top: 200;
	left: 350px;
}

#jelly3 img {
	height: 75px;
	width: 75px;
	position: relative;
	top: 100px;
	left: 250px;
}


