body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.banner {
	width: 104px;
	height: 107px;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

#btm-left {
	float: left;
	width: 0; 
	height: 0; 
	margin-top: 16px;
	border-bottom: 16px solid transparent;
	border-left: 54px solid rgba(0, 0, 0, 0.2);
}

#btm-right {
	position: relative;
	top: -16px;
	left: -7px;
	float: left;
	width: 0; 
	height: 0; 
	margin-left: 57px;
	border-bottom: 16px solid transparent;
	border-right: 54px solid rgba(0, 0, 0, 0.2);
}


.header-badge {
	float: left;
	background: #03A9F4;
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-top: 11px;
	margin-left: 11px;
}

.header-badge img {
	height: 30px;
	width: 30px;
	margin-top: 11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30px;
}

.header-badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.container {
		background-image: url('../images/ocean.jpg');
	background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

#jelly1 img {
	height: 100px;
	width: 100px;
	position: relative;
	top: 500;
	left: 150px;
}

#jelly2 img {
	height: 150px;
	width: 150px;
	position: relative;
	top: 200;
	left: 350px;
}

#jelly3 img {
	height: 75px;
	width: 75px;
	position: relative;
	top: 100px;
	left: 250px;
}



.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
