html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif; font-weight: 400;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 120px;
	padding-top: 1px;
}

.header-badge {
	float: left;
	background: #03A9F4;
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-top: 11px;
	margin-left: 11px;
}

.header-badge img {
	height: 30px;
	width: 30px;
	margin-top: 11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30px;
}

.header-badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

#header-name {
	margin-top: 46px;
	padding-left: 15px;
	margin-left: 88px;
}

nav {
	position: absolute;
	top: 48px;
	right: 15px;
}

nav h4 {
	display: inline;
}

nav h4:hover {
	color: #03A9F4;
}

nav h4:last-of-type {
	margin-left: 40px;
}

.main {
	min-height: calc(100% - 120px);
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 1px;
	background-color: #D6D6D6;
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
}

.badge {
	height: 80px;
	width: 80px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 35px;
}

.badge img {
	height: 40px;
	width: 40px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 40px;
}

.badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.hero-text {
	font-size: 35px;
	text-align: center;
	line-height: 65px;
	margin-top: 45px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.hero-text a {
	text-decoration: none;
	color: black;
}

.hero-text a:hover {
	color: #03A9F4;
}

.portfolio {
	padding: 0;
	margin: 50px 0 20px 0;
	text-align: center;
}

ul {
	list-style: square;
	list-style-position: outside;
}

.project {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

.project-background {
	width: 400px;
	height: 300px;
	text-decoration: none;
	background-size: contain;
	position: relative;
	display: block;
}

.description {
	display: none;
	text-align: center;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 18px;
	padding: 80px 20px;
}

.description-mobile {
	display: none;
	text-align: left;
	font-size: 14px;
	max-width: 400px;
}

.project-background:hover .description {
	display: block;
}

.description p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.small-button {
	text-decoration: none;
	color: #fff;
	background: #03A9F4;
	padding: 8px 20px 8px 20px;
	font-size: 16px;
}

.project-name {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-tyler {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #D6D6D6;
}

.about-tyler-content {
	max-width: 1000px;
	margin: 0 auto;
}

.about-text {
	float: left;
	padding: 57px 20px 50px 60px;
	width: 40%;
	font-size: 14px;
	line-height: 28px;
}

.thumbnails {
	float: right;
	margin: 68px 60px 68px 0;
	width: 321px;
	height: 321px;
}

.thumbnails img {
	height: 150px;
	width: 150px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.get-in-touch {
	width: 100%;
	margin: 0;
}

.get-in-touch-content {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.get-in-touch-content img {
	max-width: 65px;
	margin: 68px 60px 68px 60px;
}

footer {
	width: 100%;
	background-color: #D6D6D6;
	margin: 0px;
}

footer p {
	padding: 10px 0 20px 20px;
	margin-bottom: 0px;
	color: black;
	font-size: 10px;
	line-height: 20px;
}

footer a {
	text-decoration: none;
	color: black;
}

.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*CVR PAGE SPECIFIC CSS*/

.badge-home-link {
	text-decoration: none;
	color: #000;
}

.cvr-header {
	height: 120px;
}

nav a {
	text-decoration: none;
	color: #000;
}

.main-text {
	padding-left: 10px;
	padding-right: 10px;
}

.title-lg {
	margin-top: 0;
	padding-top: 40px;
}

.text-norm {
	font-size: 18px;
	line-height: 36px;
}

.breakdown-list-title {
	margin-top: 65px;
}

.breakdown-list {
	list-style-type: none;
}

.breakdown-list li {
	font-size: 22px;
	line-height: 44px;
}

.breakdown-list a {
	color: #000;
}

.breakdown-list a:hover {
	color: #03A9F4;
}

/*CVR PRESENTATION SPECIFIC CSS*/

.btn-med {
	margin-top: 20px;
	margin-left: 4.5%;
	display: inline-block;
	background: #03A9F4;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}

.slides-container {
	position: relative;
	margin: 40px;
  padding-bottom: 45%%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.slides-container iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**/
/*RESPONSIVE STYLES*/
/**/

/*Small Screen*/
@media (min-width: 605px) and (max-width: 770px) {

	.hero-text {
		font-size: 30px;
	}
  
	.description-mobile {
		display: block;
	}

	.project-background:hover .description {
		display: none;
	}

	.about-text {
		width: 52%;
		padding: 40px 15px 26px 35px;
	}

	.thumbnails {
		width: 160px;
		height: 320px;
		margin: 45px 70px 45px 0;
	}

	.thumbnails img:nth-child(n+3) {
		display: none;
	}

	.get-in-touch-content img {
		max-width: 55px;
		margin: 50px 55px 50px 55px;
	}

}

/*Tablets*/
@media (min-width: 411px) and (max-width: 604px) {

	nav {
  	display: none;
  }

	.hero-text {
		font-size: 22px;
	}
	
	.description-mobile {
		display: block;
	}

	.project-background:hover .description {
		display: none;
	}

	.about-tyler-content {
		padding: 10px 20px 10px 20px;
	}

	.about-text {
		width: 100%;
		padding: 0px;
		float: none;
	}

	.thumbnails {
		width: 100%;
		height: auto;
		float: none;
		text-align: center;
		margin: 30px 0px 10px 0px;
	}

	.thumbnails img:nth-child(n+3) {
		display: none;
	}

	.get-in-touch-content img {
		max-width: 55px;
		margin: 50px 40px 50px 40px;
	}

}


/*Smartphones*/
@media (max-width: 410px) {

  nav {
  	display: none;
  }

  .hero-text {
		font-size: 22px;
		line-height: 44px;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.project {
		margin: 20px 5px 20px 5px;
		width: 300px;
	}

	.project-background {
		width: 300px;
		height: 225px;
	}

	.description {
		padding: 0;
	}

	.description-mobile {
		display: block;
	}

	.project-background:hover .description {
		display: none;
	}

	.about-tyler-content {
		padding: 10px 20px 10px 20px;
	}

	.about-text {
		width: 100%;
		padding: 0px;
		float: none;
	}

	.thumbnails {
		width: 100%;
		height: auto;
		float: none;
		text-align: center;
		margin: 30px 0px 10px 0px;
	}

	.thumbnails img:nth-child(n+2) {
		display: none;
	}

	.get-in-touch-content img {
		max-width: 40px;
		margin: 35px 20px 35px 20px;
	}

}


