html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 120px;
	padding-top: 1px;
}

.header-badge {
	float: left;
	background: #75A9F9;
	border-radius: 50px;
	height: 80px;
	width: 80px;
	margin-top: 11px;
	margin-left: 11px;
}

.header-badge img {
	height: 30px;
	width: 30px;
	margin-top: 11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 30px;
}

.header-badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

#header-name {
	margin-top: 46px;
	padding-left: 15px;
	margin-left: 88px;
	color: #75A9F9;
}

nav {
	position: absolute;
	top: 48px;
	right: 15px;
}

nav h4 {
	display: inline;
}

nav h4:last-of-type {
	margin-left: 40px;
}

.main {
	min-height: calc(100% - 120px);
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #D6D6D6;
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
}

.badge {
	height: 80px;
	width: 80px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 35px;
}

.badge img {
	height: 40px;
	width: 40px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.badge hr {
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 40px;
}

.badge h4 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.hero-text {
	font-size: 45px;
	text-align: center;
	line-height: 60px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.portfolio {
	position: relative;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.project {
	width: 365px;
	margin-top: 25px;
	margin-right: 20px;
	margin-left: 20px;
	display: inline-block;
	text-align: left;
}

.project img {
	height: 225px;
	width: 360px;
	border: 1px solid #D6D6D6;
}

.project h4 {
	margin-top: 10px;
}

.about-tyler {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #D6D6D6;
}

.about-tyler-content {
	max-width: 900px;
	margin: 0 auto;
}

.about-text {
	float: left;
	padding: 50px 20px 50px 60px;
	width: 40%;
	font-size: 18px;
}

.thumbnails {
	float: right;
	margin: 68px 60px 68px 0;
	width: 321px;
	height: 321px;
}

.thumbnails img {
	height: 150px;
	width: 150px;
	padding-right: 8px;
	padding-bottom: 8px;
}

.get-in-touch {
	width: 100%;
	margin: 0;
	background: #75A9F9;
}

.get-in-touch-content {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.get-in-touch-content img {
	max-width: 100px;
	margin: 68px 60px 68px 60px;
}

footer {
	width: 100%;
	background-color: #D6D6D6;
	margin: 0px;
	padding: 20px;
	font-size: 10px;
	color: black;
}

footer a {
	text-decoration: none;
	color: black;
}

.clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}