#title{
	text-align: center;
}

body{
	background: url("/images/background.JPG") no-repeat center center fixed;
	background-size: cover;
	background-repeat:no-repeat;
}

.well-tgs {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -65px;
	margin-left: -150px;
	width: 300px;
  height: 130px;
  text-align: center;
  color: #f5f5f5;
	padding: 10px;
  background-color: #3e3d3e;
	border: 4px solid #e3e3e3;
	-webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;

}
