#title{
	text-align: center;
}

body{
	background: url("/images/background.JPG") no-repeat center center fixed;
	background-size: cover;
	background-repeat:no-repeat;
}

.well-tgs {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -150px;
	width: 300px;
  height: 150px;
  text-align: center;
  color: #f5f5f5;
	padding: 10px;
  background-color: #3e3d3e;
	border: 2px solid #e3e3e3;
/*  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05);*/
}
